@import './base.css';
/* main.css */
:root {
  --orange: #ec5a13;
  --orange-pale: #ffe9de;
  --black: #152233;
  --grey: #627c93;
  --grey-med: #e6eaee;
  --grey-light: #f4f9fe;
  --blue-dark: #094171;
  --brown: #89380f;
  --header-height: 110px;
  --footer-height: 80px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: var(--header-height);
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

a {
  text-decoration: none;
  color: black;
}

.container {
  max-width: 1050px;
  margin: 0 auto;
  height: 100%;
}

a,
button {
  cursor: pointer;
}

/* Ensure footer sticks to the bottom */
footer {
  height: var(--footer-height);
}

/* MEDIA QUERYS */
@media (max-width: 1090px) {
  .container {
    padding: 10px 20px 20px;
  }
}
