@import './base.css';

:root {
  --orange: #ec5a13;
  --orange-pale: #ffe9de;
  --black: #152233;
  --grey: #627c93;
  --grey-med: #e6eaee;
  --grey-light: #f4f9fe;
  --blue-dark: #094171;
  --brown: #89380f;
  --header-height: 110px;
  --footer-height: 80px;
}

* {
  font-family: 'Nunito Sans', sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  width: 1024px;
  margin: 0 auto;
  height: 100%;
}

a,
button {
  cursor: pointer;
}
